.contnaire{
  background-color: gray;
  display: flex;
  color: rgb(0, 0, 0); 
  gap: 200px;
  list-style: none;  
  align-items: center;
  border: 2px solid black;
  margin: auto;
}
button{
  margin: 30px;
  background-color: rgb(0, 0, 0);
  color: aliceblue;
  border-radius: 40px;
  border: solid 1px;
  display: flex;
  margin: 20px;
}
.main{
  background-color: rgba(0, 0, 0, 0.208);
  gap: 200px;
  margin: auto;
  border: 2px solid black;
  padding: 30px;
  text-align: center;
  margin: 20px;
  flex: 1;
  padding: 10 px;
  border-top: 2px solid black;
}
img{
  width: 150px;
  height: 70px;
}
h3{
  background-color: rgb(122, 116, 116);
  text-align: center;
  border: 2px solid black ;
  margin: auto;
  
}
#centrale{
  flex: 1;
  padding: 10 px;
  text-align: center;
}

h1{
  
  margin: 20px;
   flex: 1;
  padding: 10 px;
 
}
.box {
  width: 600px;
  margin: 10px;
  padding: 5px;
  text-align: center;
  flex: 1;
  padding: 10px;
  gap: 20px;
  border: 2px solid  black;
}


/* ===== CONTAINER ===== */
/* .container{
    width: 900px;
    margin: 80px auto;
    display: flex;
    background: rgb(221, 6, 160);
}
.image{
    width: 25%;
}

.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
h2{
    color: green;
    margin-bottom: 30px;
}

form{
    display: flex;
    flex-direction: column;
}

label{
    margin-bottom: 5px;
    font-weight: bold;
}
input{
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button{
    background: green;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background: darkgreen;
} */