.p1{
    display: flex;
    align-items: center;
    gap: 100px;
    list-style: none;
    color: azure;
}
h1{
 font-style: italic;
}
body{
background-image: url('../PHOTOS/bg.avif');
background-size: cover;
background-repeat: no-repeat;
text-align: center;
}
#pre{
    align-items: center;
    color: rgb(132, 195, 159);
    font-style: italic;
    text-align: center;
    margin: 0px;
}
#p2{
color: rgb(251, 253, 254);
text-align: center;
font-style: initial;
margin:40 px;
}
#p3{
display: flex;
gap: 25%;
color: azure;
text-align: center;
align-items: center;
display: flex;
position: absolute;
bottom: 100px; 
padding: 70px 150px;
}
.slider {
  position: relative;
  width: 80%;
  height: 80px;
  background: #222;
}
.buttons{
justify-content: space-between;
width: 70%;
position: fixed;
bottom: 150px;
 left: 70%;
 right: 50%;
}

