body{
            font-family: Arial,cursive;
            background:white;
            text-align: center;
}
.form-container{
            width:40px;
            background:#be4abc;
            padding:40px;
            border-radius:80px;
}
h1{
            text-align:center;
}
input, select, button{
            width: 30%;;
            padding:10px;
            margin: 10px 0 ;
            border: 1px solid#ccc;
            border-radius: 6px;
            box-sizing: border-box;
 }
button{
            background:#9a6191;
            color:rgb(250, 246, 246);
            border-radius: 6px;
            cursor:pointer;
 }
button{
            background:#bfa6bf;
        }
.button-hover{
     color: #ccc;
}
