nav{
   text-align: center;
   display: flex;}
img{
    width: 80px;
    height: 100px;
    justify-content: space-around;
}
a{
   display: flex;
    width: 50%;
    padding: 20px;
}
div{
    text-align: center;
    display: flex;
    gap: 70px;
}
p{
    display: flex;
    align-items: center;
    gap: 20px;
}
.first , .seconde , .third{display: flex;
}
.bigContainer{width: 30%;}
div{
    text-align: center;
    align-items: center;
}