nav{
     background-color: rgb(76, 159, 218);
     display: flex;
     text-align: center;
     justify-content: center;
    
}
a{
     padding-right: 60px;
     text-decoration: none;
     font-weight: bold;
     color: rgb(199, 200, 213);


}
#container{
     display: flex;
     justify-content: center;
     align-items: center;
    background-image:url(../PHOTOS/fond-sombre-simple_406939-4112.avif);
     width: 100%;
     height: 500px;
     background-repeat: no-repeat;
     background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
text-align: center;
}
footer{
     text-align: center;
     justify-content: center;
}
.btn1{
     text-align: center;
     justify-content: center;
     background-color: brown;
}
nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(220, 209, 227);
    padding: 5px;
}
.nav-links{
display:flex;
gap: 30px;
list-style: none;
padding: 0;
margin: 0;
}
.h1{
    font-size: 40px;
    font-weight: bold;
    justify-content: space-between;
}
#s1{
    text-align: center;

}
#s2{
    text-align: center;
}
pre{
    text-align: center;
}
a{
    margin: 10px;
    text-decoration: none;
    color: rgb(9, 8, 8);
    font-size: 18px;
}
form{
    display: flex;
}
.m6{
    gap: 30px;
    background-color: rgb(244, 241, 237);
    border: 1px solid black;
    width: 300px;
    height: 200px;
    margin: 10px;
    text-align: center;
}
.m7{
    border: solid 1px;
    width: 300px;
    height: 200px;
    background-color: rgb(183, 192, 190);
    margin: 10px;
    text-align: center;
}
.m8{
    border: 1px solid black;
    width: 300px;
    height: 200px;
    background-color: rgb(176, 168, 175);
    margin: 10px;
    text-align: center;
}
.m9{
    border: solid 1px;
    width: 300px;
    height: 200px;
    background-color: rgb(217, 227, 220);
    margin: 10px;
    text-align: center;
}
button{
        background:#e1cadb;
        border-radius: 10px;
         text-align: center;
      
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

@media screen and (min-width : 200px){
body{
    background-color: rgb(red, green, blue);
 }
}
@media screen and (min-width:480px){
body{
    
}
}
    