/* @media screen and (min-width:200PX){
 .contenaire{display: block;
}
}
@media screen and (min-width:480px){
    .contenaire{display: flex;
    margin: 250px;
} 
}
.s1{background-color: rgb(159, 75, 113);}
.s2{background-color: rgb(117, 74, 186);}
.s3{background-color: rgb(223, 167, 207)} */
/* @keyframes x{
    0%{background-color: rgb(240, 19, 19);}
    25%{background-color: rgb(17, 6, 230);}
    50%{background-color: rgba(0, 0, 0, 0.591);}
    100%{background-color: yellow;}
    to{border-radius: 60px;} */
/* body {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 150px;
}
@keyframes up {
  0%   { transform: translateY(0); }
  100% { transform: translateY(-150px); }
}
@keyframes down {
  0%   { transform: translateY(-150px); }
  100% { transform: translateY(0); }
}
.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
}
.red {
  background-color: rgb(192, 100, 166);
  animation-name: up, down;
  animation-duration: 1s;
  animation-delay: 0s, 10s;
  animation-fill-mode: forwards;
}
.yellow {
  background-color: rgb(150, 90, 193);
  animation-name: up, down;
  animation-duration: 1s;
  animation-delay: 2s, 8s;
  animation-fill-mode: forwards;
}
.blue {
  background-color: rgb(63, 63, 162);
  animation-name: up, down;
  animation-duration: 1s;
  animation-delay: 4s, 6s;
  animation-fill-mode: forwards;
}

/* div:hover{
   width: 600px;
} */
/* .s2:hover{
    transform: rotateX(60deg);
}
.s3:hover{
    transform:  rotateX(60deg);
}
.s4:hover{
    transform: rotateX(60deg);
} */ 

input, select {
    padding: 8px;         
    width: 100%;         
    border: none;         
    box-sizing: border-box;
    margin-bottom: 10px;
}


.radios {
    text-align: center;
    margin: 15px 0;
}


input[type="checkbox"]:checked {
    accent-color: blue;
}


input:focus, select:focus {
    border: 2px solid blue;
    outline: none;
    box-shadow: 0 0 5px blue;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
}

.valider {
    background-color: green;
    color: white;
}

.annuler {
    background-color: red;
    color: white;
}