.contnaire{
    display: flex;
    align-items: center;
    gap: 70px;
    list-style: none;
    color: white;
}
body{
      background-image: url('../PHOTOS/pexels-pixabay-268533.jpg');
      background-size: cover;
      height: 650px;
   
}
#SS{
    color: rgb(254, 137, 4);

}
input{
     color: white;  
     border-color: rgb(254, 137, 4);
     height: 20px;
     border-radius: 10px;
     border: solid 2px;
     border-color: rgb(254, 137, 4);
}
.n1{
    color: white;
    background-color: rgb(254, 137, 4);
    height: 30px;
    width: 80px;
     border-radius: 10px;
}
pre{
    color: white;
}
h2{
    color: white;
}
#m1{
    color: rgb(254, 137, 4);
}
.US{
    background-color:rgb(254, 137, 4) ;
    color: rgb(229, 222, 222);
    height: 30px;
    width: 100px;
     border-radius: 10px;
}
main{
    margin: 80px;
}
.login{
    background-color: rgb(239, 230, 230);
    width: 50px;
    height: 40px;
    border-radius: 10px;
}
aside{background-color:rgb(255, 254, 254);
    margin-left: 300px;
    margin-top: 80px;
    width: 20%;
    height: 350px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
img{
    width: 25px;
    height: 25px;
    margin: 5px;
}
pre{color: white;
}
.join{border-radius: 10px;
    background-color: rgb(254, 137, 4);
    width: 200px;
    height: 30px;
    text-align: center;
}
input{background:none;
    border-color: rgb(254, 137, 4);
    color: rgb(0, 0, 0);
    gap: 10px;
}
.sign{color: black;
}

.box{
display: flex;
flex-direction: column;

}
.search{height: 22px;}
.login{color: rgb(254, 137, 4);
    background-color: white;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
#GG{
    display: flex;
   
}