/* div{
    background-color: red;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 90px;
    border: 4px solid rgb(0, 0, 0);
    border-radius: 10px;
    border-top-left-radius: 90%;
    border-top-right-radius: 90%;
    box-shadow: 20px 10px 15px cyan;
   margin: 250px;
    text-shadow: 10px 5px 10 px yellow;
    font-size: 30px;
} */
/* div{
     background: rgb(230, 246, 5);
     width: 250px;
     height: 250px;
     border-width: 5px;
     border-color: rgb(0, 0, 0);
     border-style: solid;
     margin: 100px;
}
nav {
 text-align: center;
 background-color: rgb(7, 117, 196);
color: black;
}
a{
    color: #000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: double;
    margin: 100px;
    background-color: rgb(255, 255, 255);
} */
 nav{
    display: flex;
    text-align: center;
    background-color: rgb(215, 26, 252);
    border: black;
    b
 }
 nav a{
    margin: 35px;
    color: azure;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: double;
 }
 h1{
    color: aliceblue;
 }
 p{
    color:rgb(255, 255, 255);
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
body{
    background-image: url(../PHOTOS/5779.jpg);
}
h2{
    color: azure;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
label{
    color: rgb(203, 14, 213);
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
input{
    border-color: rgb(0, 0, 0);
    height: 20px;
    width: 30%;
    background-color: rgb(248, 248, 248);
    border-radius: 30px;
    text-align: center;
}
button{
 border-color: rgb(0, 0, 0);
    height: 20px;
    width: 35%;
    background-color: rgb(182, 137, 187);
    border-radius: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
